.field {
  display: grid;
  grid-template-rows: repeat(13, 40px);
  grid-template-columns: repeat(8, 40px);
}

.box{
  background-color: none;
  border: none;
}


.wall{
  width: 40px;
  height: 40px;
  background-color: maroon;
}

img {
  width:40px;
  height:40px;
}
